body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.imagem {
    max-width: 200px; /* Tamanho máximo da imagem */
    height: auto;
    margin: 10px;
    border: 2px solid white; /* Borda para destacar as imagens */
}

.localizacao {
    margin-top: 20px;
}
